<!doctype html>
<html lang="fr">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../asset/css/home.css">
  <link rel="stylesheet" href="../asset/css/style.css">
  <title>Tidal</title>
</head>
<body class="">
  <!-- NAVBAR -->
  
  <nav class="navbar navbar-expand-md bg-light navbar-light sticky-top">
    <div class="container-fluid nav-margin">
      <a class="navbar-brand" href="#">Tidal</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navb" class="navbar-collapse collapse hide">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Accueil</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Symptome / Pathologie
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Symptome</a></li>
              <li><a class="dropdown-item" href="#">Pathologie</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Compte</a>
          </li>
        </ul>
        
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="fas fa-user"></span> Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="fas fa-sign-in-alt"></span> Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Header - set the background image for the header in the line below-->
  <header class="py-5 bg-image-full" style="background: center no-repeat url('../asset/images/background.jpg')">
    <div class="text-center my-5">
      <img class="img-fluid rounded-circle mb-4" src="../asset/images/logo2.png" alt="Logo ying yang" />
      <h1 class="text-white fs-3 fw-bolder">Bienvenue sur notre site d'acupuncture</h1>
    </div>
  </header>
  <div class="nav-margin">
    
    
    <div >
      <h1>Accueil</h1>
    </div>
    
    <div class="media">
      <!-- <img class="mr-3" src="..." alt="Generic placeholder image"> -->
      <iframe width="420" height="315" src="../asset/videos/pres.mp4"></iframe> 
      <div class="media-body div-accueil-margin-top">
        <h5 class="mt-0">L'acupuncture chinoise</h5>
        Branche de la médecine chinoise traditionnelle consistant à piquer avec des aiguilles en des points précis de la surface
        du corps d'un patient pour soigner différentes maladies ou provoquer un effet analgésique.
      </div>
      
      
      
    </div>
    
    
    <div class="card-group">
      <div class="card border-dark mx-auto text-center" style="margin:2%; border: #21081a solid 1px; max-width: 18rem;">
        <div class="card-header">Alexis Migewant</div>
        <div class="card-body text-dark">
          <h5 class="card-title">API Developper</h5>
          <p class="card-text">J'ai principalement fait la partie API</p>
        </div>
      </div>
      <div class="card border-dark mx-auto text-center" style="margin:2%; border: #21081a solid 1px; max-width: 18rem;">
        <div class="card-header">Yoann Robinet</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Server Developper</h5>
          <p class="card-text">J'ai principalement fait la partie Server et Authenification</p>
        </div>
      </div>
      <div class="card border-dark mx-auto text-center" style="margin:2%; border: #21081a solid 1px; max-width: 18rem;">
        <div class="card-header">Clément Bourdier</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Front Developper</h5>
          <p class="card-text">J'ai principalement fait la partie Front</p>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <!-- Footer -->
  <footer class="text-center text-white bg-light navbar-light fixed-bottom" >
    
    <!-- Copyright -->
    <div class="text-center p-3 navbar-brand" >
      © 2021 Copyright Tidal
    </div>
    <!-- Copyright -->
  </footer> 
  
  
  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  
</body>
</html>
